<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h4 class="mb-3">Names List</h4>
      <div class="list-group">
        <button
          *ngFor="let dataItem of responseData"
          type="button"
          class="list-group-item list-group-item-action bg-primary text-white"
          (click)="showDetails(dataItem)"
        >
          {{ dataItem.name }}
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="selectedData" class="card mt-3">
        <h4 class="mb-3">Employee</h4>
        <div class="card-body bg-info text-white">
          <h4 class="card-title">Details</h4>
          <p class="card-text"><strong>Name:</strong> {{ selectedData.name }}</p>
          <p class="card-text"><strong>Works in:</strong> {{ selectedData.Department }}</p>
          <p class="card-text"><strong>Date of Birth:</strong> {{ selectedData.DOB }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
